
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-tree.css")
    @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
        <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aardrijkskunde klimatogrammen & determineren", "Index", "SchoolYear", null, new { @class = "navbar-brand" })
            </div>            
        </div>
    </div>
    <div id="content" class="wrapper">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }
    </div>
<div class="container body-content">
    @RenderBody()
    <hr/>

</div>
    <footer>
        <p>&copy; @DateTime.Now.Year - HoGent Groep 11</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>