
@using p2groep11.Net.Models.Domain
@model p2groep11.Net.ViewModels.ClimateChartViewModel
<link rel="stylesheet" type="text/css" href="../../Content/bootstrap-tree.css"/>

@{
    ViewBag.Title = "Klimatogram";
}
@if (TempData["FoutVegetatie"] == null)
{
    <div class="determinateTable">
        <h2>Determineertabel</h2>
        
        <div class="bekijkLegende buttonVegetation">Bekijk legende</div>
            <div class="legende">
            <h3>Legende</h3>
                <table class="legendTable">
                    <tr>
                        <th>Code</th>
                        <th>Uitleg</th>
                    </tr>
                    <tr>
                        <td>TW</td>
                        <td>Temperatuur van de warmste maand</td>
                    </tr>
                    <tr>
                        <td>TM</td>
                        <td>Warmste maand</td>
                    </tr>
                    <tr>
                        <td>TK</td>
                        <td>Temperatuur koudste maand</td>
                    </tr>
                    <tr>
                        <td>NJ</td>
                        <td>Totale jaarneerslag in mm</td>
                    </tr>
                    <tr>
                        <td>TJ</td>
                        <td>Gemiddelde jaartemperatuur in °C</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>Aantal droge maanden. Een maand is droog als 2 * maandtemperatuur > maandneerslag</td>
                    </tr>
                    <tr>
                        <td>NZ</td>
                        <td>Hoeveelheid neerslag in de zomer</td>
                    </tr>
                    <tr>
                        <td>NW</td>
                        <td>Hoeveelheid neerslag in de winter</td>
                    </tr>
                </table>
            </div>


        <a href="#" class="lightbox">
            <p class="glyphicon glyphicon-info-sign"></p></a>

    <div class="backdrop"></div>
    <div class="box">
        <div class="close">x</div>
        <div class="success">
        </div>
        <h3>Voorbeeld werking determinatietabel</h3>
        <div class="tree">
            <ul class="voorbeeld">
                @Html.Raw(@Model.Voorbeeld.Html)
            </ul>
            <input type="button" class="btn-success testBut2" value="Controleer"/>
            <div class="invisV"><span class="invisVoorbeeld">Is appel een fruit?</span><span class="invisVoorbeeld">Appel is een fruit</span></div>
            <p>Eerst word een vraag gesteld (Is appel een fruit?) dan hebben we 2 mogelijke uitkomsten.
                groen staat voor ja (appel is een fruit) en rood staat voor nee (appel is geen fruit).
                Om dit tot een goed einde te brengen klikken we op "is appel een fruit" en "appel is een fruit".
            </p>
        </div>
    </div>
    </div>
}

@if (@ViewBag.SchoolYear < 3)
{
    <div class="vegetationImg1steGraad">
        <h3>Foto vegetatietype</h3>
        <h4>Vegetatietype: @Model.ResultaatDeterminate[1]</h4>
        <br/>
        @{
            var base64 = Convert.ToBase64String(Model.ByteArray);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
        <img src="@imgSrc"/>
    </div>
}
        
@*@if (TempData["FoutVegetatie"] == null)
{*@
    <div class="tree">
        <ul class="main">
            @Html.Raw(@Model.HtmlDetTabel)
        </ul>
        <input type="button" class="btn-success testBut" value="Controleer"/>
    </div>
@*}*@

<div class="success"></div>

<div class="invisC">
    @foreach (String s in @Model.CorrectPath)
    {
        <span class="invis">@s</span>
    }

    <span class="invis">@Model.CorrectClimate</span>
    <span class="invis">@Model.CorrectVegetation</span>
</div>
