
@using p2groep11.Net.Models.Domain
@model p2groep11.Net.ViewModels.ClimateChartViewModel

@{
    ViewBag.Title = "Klimatogram";
}


<div class="row">
    <div class="row">
        <div class="clauseTd">
            @Model.table.ClauseComponent.GetName()
        </div>
        <div class="tussen">Ja &rarr;</div>
        <div class="clauseTd">
            @Model.table.ClauseComponent.GetYesClause().GetName()
        </div>
        <div class="tussen">Ja &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetYesClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetYesClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">Nee &darr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">Nee &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetYesClause().GetNoClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetYesClause().GetNoClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="clauseTd">
            @Model.table.ClauseComponent.GetNoClause().GetName()
        </div>
        <div class="tussen">Ja &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="clauseTd nj200">
            @Model.table.ClauseComponent.GetNoClause().GetNoClause().GetName()
        </div>
        <div class="tussen">Ja &rarr;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetYesClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">Nee &darr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">Nee &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="clauseTd tk18">
            @Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetName()
        </div>
        <div class="tussen">Ja &rarr;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">Nee &darr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">Nee &darr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">Nee &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="clauseTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetName()</div>
        <div class="tussen">Ja &rarr;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">Nee &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">Nee &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="clauseTd d1">
            @Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetName()
        </div>
        <div class="tussen">Nee &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetVegetatiekenmerk()</div>
    </div>
    <div class="row">
        <div class="tussen">Ja &rarr;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="tussen">&nbsp;</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetKlimaatkenmerk()</div>
        <div class="resultTd">@Model.table.ClauseComponent.GetNoClause().GetNoClause().GetNoClause().GetNoClause().GetYesClause().GetVegetatiekenmerk()</div>
    </div>
    <div>
        <button class="testBut">TestSelectedItems</button>
    </div>
</div>
