
@using p2groep11.Net.Models.Domain
@model p2groep11.Net.ViewModels.ClimateChartViewModel

@{
    ViewBag.Title = "Klimatogram";
}
<script language="JavaScript" type="text/javascript" src="../../Scripts/jquery-2.1.3.js"></script>
<script src="../../Scripts/Highcharts-4.0.1/js/highcharts-all.js" type="text/javascript"></script>
@(Model.Chart)
<div class="container">
    <div class="ClimateTable">
        <table class="table-condensed">

            <tr>
                <th></th>
                @foreach (Month m in @Model.Months)
                {
                    <th>@m.month</th>
                }
                <th class="alert">Jaar</th>
            </tr>
            <tr>
                <th>T in °C</th>
                @foreach (Month m in @Model.Months)
                {
                    <th class="alert-danger">@m.AverTemp</th>
                }

                <th>@Html.DisplayFor(modelItem => Model.AvgTemp)</th>
            </tr>
            <tr>
                <th>N in mm</th>
                @foreach (Month m in @Model.Months)
                {
                    <th class="alert-info">@m.Sediment</th>
                }
                <th>@Model.SumSed</th>
            </tr>
        </table>

    </div>
</div>
