@model IEnumerable<p2groep11.Net.ViewModels.ContinentsListViewModel>

@{
    ViewBag.Title = "Continents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    @Html.ActionLink("Kies schooljaar", "Index", "SchoolYear") >
    @Html.ActionLink("Kies continent", "ListContinents") >
</div>


<h2>Continenten</h2>

@foreach (var item in Model) 
{
    <div>
        @Html.ActionLink(@item.Name, "ListCountries", new { Selectedyear = @ViewBag.SchoolYear,continentId = item.ContinentID})
    </div>
}