@model IEnumerable<p2groep11.Net.ViewModels.LocationListViewModel>

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    @Html.ActionLink("Kies schooljaar", "Index", "SchoolYear") >
    @if (@ViewBag.Schoolyear > 2)
    {
        @Html.ActionLink("Kies continent", "ListContinents")
        <span>></span>
    }
    @Html.ActionLink("Kies land", "ListCountries") >
    @Html.ActionLink("Kies locatie", "ListLocations", new { Selectedyear = @ViewBag.SchoolYear, continentId = @ViewBag.ContinentId, countryId = @ViewBag.CountryId }) >
</div>

<h2>Locaties</h2>

<p>
    @using (Html.BeginForm("ListLocations", "Continent", FormMethod.Get))
    {
        <div>
            Locatie: @Html.TextBox("Search")
            <input type="submit" value="Zoek" />
        </div>
    }
</p>

<div>
    @foreach (var item in Model)
    {
        <div>      
            @Html.ActionLink(@item.Location, "ShowClimateChart", "ClimateChart",
            new { selectedYear = ViewBag.SchoolYear, continentId = item.ContinentID, countryId = item.CountryID, climateId = item.ClimateChartID }, null)
        </div>
    }
</div>