@using System.Globalization
@model IEnumerable<p2groep11.Net.ViewModels.LocationListViewModel>

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    @Html.ActionLink("Kies schooljaar", "Index", "SchoolYear") >
    @if (@ViewBag.Schoolyear > 2)
    {
        @Html.ActionLink("Kies continent", "ListContinents")
        <span>></span>
    }
    @Html.ActionLink("Kies land", "ListCountries") >
    @Html.ActionLink("Kies locatie", "ListLocations", new { Selectedyear = @ViewBag.SchoolYear, continentId = @ViewBag.ContinentId, countryId = @ViewBag.CountryId }) >
</div>

<h2>Locaties</h2>

<p>
    @using (Html.BeginForm("ListLocations", "Continent", FormMethod.Get))
    {
        <div>
            Locatie: @Html.TextBox("Search", null, new { @class = "targetSearch" })
            <input type="submit" value="Zoek" />
        </div>
    }
</p>

<div>
    <div class="titlesBold">
        <div class="chartNameTitle">Locatie</div>
        <div class="chartLatitudeTitle"></div>
        <div class="chartLongitudeTitle">Locatie in graden</div>
    </div>
    
    @foreach (var item in Model)
    {
        <div class="itemRow">
            <div class="chartName">
                @Html.ActionLink(@item.Location, "ShowExercises", "ClimateChart",
                    new {selectedYear = ViewBag.SchoolYear, continentId = item.ContinentID, countryId = item.CountryID, climateId = item.ClimateChartID}, null)
            </div>
            <div class="chartLatitude"></div>
            <div class="chartLongitude">@item.Coordinaten</div>
            <div class="mapsLink"><a href="https://www.google.be/maps/preview/&#64;@item.ChartLatitude.ToString(CultureInfo.CreateSpecificCulture("en-GB")),@item.ChartLongitude.ToString(CultureInfo.CreateSpecificCulture("en-GB")),13z" target="_blank">Bekijk op Google Maps!</a>
            </div>
        </div>
    }
    
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Content/SearchFunction.js" type="text/javascript"></script>