@model p2groep11.Net.ViewModels.SchoolYearCreateViewModel

@{
    ViewBag.Title = "SchoolYearCreate";
}

<h2>SchoolYearCreate</h2>

@Html.LabelFor(model => model.schoolyearNumber.number, htmlAttributes: new { @class = "control-label col-md-2" })
<div class="col-md-10">

    @Html.DropDownListFor(model => model.schoolyearNumber.number, Model.Schoolyear,
                                    "--Selecteer een schooljaar--", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.schoolyearNumber.number, "", new { @class = "text-danger" })

</div>

<div>
    @Html.ActionLink("Bevestig","SchoolYearCreate",{})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
